{{#if user}}
{{#if isAdmin}}
<h1 class="adminp">Admin Panel</h1>
<div class="container">
    <a class="btn btn-primary btn-lg btn-block" data-target="#all-doctors-modal" data-toggle="modal" type="button" role="button"><span class="glyphicon glyphicon-education" aria-hidden="true"></span>
 Show all doctors <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
</a>
    <div aria-labelledby="myModalLabel" class="modal fade" id="all-doctors-modal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">All Doctors</h4>
                </div>
                <div class="modal-body">
                    <div class="doctors-table">
                        <table class="table table-condensed table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Id #</th>
                                    <th>Name</th>
                                    <th>Title</th>
                                    <th>Main Specialty</th>
                                    <th>Remove them</th>
                                </tr>
                            </thead>
                            {{#each doctors}}
                            {{#unless removed}}
                            <tdbody>
                                <tr>
                                    <td>{{this.doc_id}}</td>
                                    <td>{{this.first_name}} {{this.last_name}}</td>
                                    <td>{{this.title}}</td>
                                    <td>{{this.primary_specialty}}</td>
                                    <td>
                                        <form method="POST" action="/admin/remove-doc/{{this.doc_id}}?_method=PUT">
                                            <input type="hidden" name="removed" value="true">
                                            <button class="btn-danger" type="submit">Remove Doc? <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></button>
                                        </form>
                                    </td>
                                </tr>
                            </tdbody>
                            {{/unless}}
                            {{/each}}
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <! -------------------------------------------------------------------------------------------- >
    <br>
    <br>
    <a class="btn btn-primary btn-lg btn-block" data-target="#all-patients-modal" data-toggle="modal" type="button" role="button"><span class="glyphicon glyphicon-baby-formula" aria-hidden="true"></span>
 Show all patients <span class="glyphicon glyphicon-baby-formula" aria-hidden="true"></span>
</a>
    <div aria-labelledby="myModalLabel" class="modal fade" id="all-patients-modal" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">All Patients</h4>
                </div>
                <div class="modal-body">
                    <div class="patients-table">
                        <table class="table table-condensed table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Id #</th>
                                    <th>Name</th>
                                    <th>Username</th>
                                    <th>E-mail</th>
                                    <th>Remove them</th>
                                    <th>Grant Admin</th>
                                </tr>
                            </thead>
                            {{#each patients}}
                            {{#unless removed}}
                            <tdbody>
                                <tr>
                                    <td>{{this.patient_id}}</td>
                                    <td>{{this.firstname}} {{this.lastname}}</td>
                                    <td>{{this.username}}</td>
                                    <td>{{this.email}}</td>
                                    <td>
                                        <form method="POST" action="/admin/remove-patient/{{this.patient_id}}?_method=PUT">
                                            <input type="hidden" name="removed" value="true">
                                            <button class="btn-danger" type="submit">Remove Patient? <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                                        </form>
                                    </td>
                                    <td>
                                        {{#unless isAdmin}}
                                        <form method="POST" action="/admin/add-admin/{{this.patient_id}}?_method=PUT">
                                            <input type="hidden" name="isAdmin" value="true">
                                            <button class="btn-warning" type="submit">Give Admin <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span></button>
                                        </form>
                                        {{/unless}}
                                    </td>
                                </tr>
                            </tdbody>
                            {{/unless}}
                            {{/each}}
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <! -------------------------------------------------------------------------------------------- >
    <br>
    <br>
    <!-- here's the btn to toggle the modal to show all the admins. -->
    <a class="btn btn-primary btn-lg btn-block" data-target="#all-admins-modal" data-toggle="modal" type="button" role="button"><span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span> 
Show all admins <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span>
</a>
    <!-- here's the modal in all it's glory -->
    <div aria-labelledby="myModalLabel" class="modal fade" id="all-admins-modal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">All Admins</h4>
                </div>
                <div class="modal-body">
                    <div class="all-admins-table">
                        <div class="admins-table">
                            <!-- here's the table that holds all the info about all the admins and a little info about them cuz why not? Also has the option to revoke their admin power -->
                            <table class="table table-condensed table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Username</th>
                                        <th>Main Doctor</th>
                                        <th>Email</th>
                                        <th>Remove Button</th>
                                    </tr>
                                </thead>
                                <!-- taking each patient, then seeing if they're admin or not -->
                                {{#each isAdmin}}
                                {{#if this.isAdmin}}
                                <!-- then adding their info to the table -->
                                <tbody>
                                    <tr>
                                        <td>{{this.firstname}} {{this.lastname}}</td>
                                        <td>{{this.username}}</td>
                                        <td>{{this.current_doctor}}</td>
                                        <td>{{this.email}}</td>
                                        <td>
                                            <!-- btn to revoke admin power -->
                                            <form action="/admin/remove-admin/{{this.patient_id}}?_method=PUT" method="POST">
                                                <input type="hidden" name="revode" value="false">
                                                <button class="btn-danger" type="submit">Revoke Admin Privileges? <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></button>
                                            </form>
                                        </td>
                                    </tr>
                                </tbody>
                                {{/if}}
                                {{/each}}
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <! -------------------------------------------------------------------------------------------->
    <br>
    <br>
    <!-- btn to open a modal with all the removed people on it. -->
    <a class="btn btn-primary btn-lg btn-block" data-target="#all-removed-modal" data-toggle="modal" type="button" role="button"><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span>
 Show all removed <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span>
</a>
    <div aria-labelledby="myModalLabel" class="modal fade" id="all-removed-modal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">All Removed Doctors & Patients</h4>
                </div>
                <div class="modal-body">
                    <div class="all-admins-table">
                        <div class="admins-table">
                            <!-- here the table for all the removed people -->
                            <table class="table table-condensed table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>What they are</th>
                                        <th>Un-remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- we grabbing each doctor and seeing if they're removed or not then adding them to the table -->
                                    {{#each doctors}}
                                    {{#if this.removed}}
                                    <tr>
                                        <td>{{this.first_name}} {{this.last_name}}</td>
                                        <td>Doctor</td>
                                        <td>
                                            <form method="POST" action="/admin/unremove-doc/{{this.doc_id}}?_method=PUT">
                                            <input type="hidden" name="removed" value="false">
                                            <button class="btn-primary" type="submit">Unremove Doctor? <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span></button>
                                            </form>
                                        </td>
                                    </tr>
                                    {{/if}}
                                    {{/each}}
                                    <!-- here we checking each patient to see who's been removed and adding those who have to the table as well. -->
                                    {{#each patients}}
                                    {{#if this.removed}}
                                    <tr>
                                        <td>{{this.firstname}} {{this.lastname}}</td>
                                        <td>Patient</td>
                                        <td>
                                            <form method="POST" action="/admin/unremove-patient/{{this.patient_id}}?_method=PUT">
                                            <input type="hidden" name="removed" value="false">
                                            <button class="btn-primary" type="submit">Unremove Patient?<span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span></button>
                                            </form>
                                        </td>
                                    </tr>
                                    {{/if}}
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <! -------------------------------------------------------------------------------------------->
    {{else}}
    <img src="https://media.giphy.com/media/njYrp176NQsHS/giphy.gif" class="img-responsive center gandalf" alt="no">
    <!-- <img src="https://cdn.meme.am/cache/instances/folder895/65974895.jpg" class="img-responsive center morpheus" alt="no"> -->
    {{/if}}
    {{else}}
    <!-- <img src="https://media.giphy.com/media/njYrp176NQsHS/giphy.gif" class="img-responsive center gandalf" alt="no"> -->
    <img src="https://cdn.meme.am/cache/instances/folder895/65974895.jpg" class="img-responsive center morpheus" alt="no">
    {{/if}}